<div class="login-form-wrapper">
    <form class="login-form">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput />
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                Password
            </mat-label>
            <input matInput />
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                Repeat password
            </mat-label>
            <input matInput />
        </mat-form-field>
        <div class="form-control">
            <button mat-stroked-button color="primary">Sign up</button>
        </div>
    </form>
</div>