<div class="login-form-wrapper">
    <form class="login-form" (submit)="submit(email, password)">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>
                Password
            </mat-label>
            <input matInput [(ngModel)]="password" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        <div class="form-control">
            <button mat-stroked-button color="primary">Sign in</button>
        </div>
    </form>
</div>